<div class="row title">
  <div class="col-md-12 text-center">
    <%= image_tag 'chi-ba-kun-small.png'%>
  </div>
  <div class="col-md-12 text-center">
    <h1>
      chi-bus.jp<br />
      <small>チーバス・ジェイピー</small>
    </h1>
  </div>
  <div class="col-md-12 text-center">
    <p class="lead">
    千葉のカオスを解消する<br />
    千葉県民のためのバス停情報サイト
    </p>
  </div>
  <div class="col-sm-offset-4 col-sm-4 text-center">
    <%= form_tag bus_stops_path, :method => 'get' do %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], placeholder: 'バス停名を入力してください。', class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag "検索", name: nil, class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
    <div class="chi-ba-kun-rights">
      千葉県PRマスコットキャラクター<br />
      チーバくん
    </div>
  </div>
</div>
