<div class="row title">
  <div class="col-md-12 text-center">
    <%= image_tag 'chi-ba-kun-small.png'%>
  </div>
  <div class="col-md-12 text-center">
    <h1>
      chi-bus.jp<br />
      <small>チーバス・ジェイピー</small>
    </h1>
  </div>
  <div class="col-md-12 text-center">
    <p class="lead">
    千葉県のカオスを解消する<br />
    千葉県民のためのバス停情報サイト
    </p>
    <p class="lead">Coming Soon</p>
  </div>
</div>
