<div class="row">
  <div class="col-xs-12 home-parent">
    <div class="row home-child">
      <div class="col-xs-12 text-center">
        <%= image_tag 'chi-ba-kun-small.png'%>
        <h1>
          <div class="sub-title">チーバス・ジェイピー</div>
          chi-bus.jp
        </h1>
      </div>
      <div class="col-xs-12 text-center">
        <p class="lead">
        このバス停に来るバスは、<br />どこから来て、<br />どこに行くのだろう？<br />
        <small>（千葉、東京、神奈川、埼玉、茨城、栃木、群馬に対応）</small>
        </p>
      </div>
      <div class="col-xs-12 col-sm-offset-4 col-sm-4">
        <%= render partial: 'bus_stop_search_form', locals: { menu: false } %>
        <script type="text/javascript">
$(".home-parent #q").focus();
        </script>
        <ul class="reference-info">
          <li>本サービスでは国土交通省国土政策局の平成22年度バス停留所データ及び平成23年度バスルートデータを利用しています。</li>
          <li>千葉県PRマスコットキャラクター　チーバくん　千葉県許諾　第A1338-1号</li>
        </ul>
        <br />
      </div>
    </div>
  </div>
</div>
