<h1><%= @bus_route_info.line_name %></h1>
<p><%= "#{@bus_route_info.operation_company} #{@bus_route_info.bus_type_label}" %></p>
<ol>
  <% @bus_route_info.bus_stops.each do |bus_stop| %>
    <li><%= link_to "#{bus_stop.name}", bus_stop_path(bus_stop) %></li>
  <% end %>
</ol>
<%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-default' %>
