/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-top-search-box {
  margin-top: 10px;
}

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.title {
  padding-top: 60px;
}

@media screen and (min-width: 992px) {
  .title {
    padding-top: 150px;
  }
}

.map {
  width: 100%;
  height: 85vh;
  margin-bottom: 10px;
}

.reference-info {
  font-size: 50%;
  color: #ccc;
  margin-top: 20px;
  padding-left: 20px;
}

.list-number {
  float: left;
  text-align: right;
  width: 20px;
}

.list-content {
  margin-left: 25px;
}
