/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* iPhoneでinputが拡大されるのを無効化 */
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-bar {
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.round-image {
  border-radius: 5px;
}

.brand-link:hover,
.brand-link:active,
{
  text-decoration: none;
}

.home-parent {
  height: calc(100vh - 68px);
  display: flex;
}

.home-child {
  margin-top: auto;
  margin-bottom: auto;
}

.sub-title {
  font-size: 40%;
}

.reference-info {
  font-size: 50%;
  color: #ccc;
  margin-top: 20px;
  padding-left: 20px;
}

.gravatar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map {
  width: 100%;
  height: calc(100vh - 120px); /* iPad対応のためJSで調整 */
  margin-bottom: 10px;
}

.search-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-number {
  float: left;
  text-align: right;
  width: 20px;
}

.list-content {
  margin-left: 25px;
}

.draggable-checkbox {
  margin-left: 10px;
}

.turbolinks-loading {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: image-url("loading.gif");
  background-size: 64px 64px;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}
